[submodule "contracts/lib/v4-core"]
	path = contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "contracts/lib/sdk-core"]
	path = contracts/lib/sdk-core
	url = https://github.com/Uniswap/sdk-core
